<div class="gallery-header grid-item" id="display-as">
  <h2><%= locals.header %></h2>
  <label for="display-as">display as </label>

  <script>
    function changeGalleryLayout(select) {
      if (select.value.length > 0) {
        // TODO: hack!
        window.location.href = '/gallery?as=' + select.value;
      }
    }
  </script>

  <select name="display-as" id="display-as", onchange="changeGalleryLayout(this)">
    <option value=""></option>
    <option value="images" id="images">Images</option>
    <option value="table" id="table">Table</option>
    <option value="text" id="text">Text only</option>
  </select>
</div>