<div class="card-gallery-text-only">
  <% locals.cards.forEach(function(card) { %>
    <div class="cardinfo-small-gallery">
      <a href=<%= '/card/' + card.id %>>
        <div class="cardinfo-small">
          <%- include('../partials/cardinfo', { card: card }); %>
        </div>
      </a>
    </div>
  <% }); %>
</div>