<div class="card-gallery">
  <% locals.cards.forEach(function(card) { %>
    <a href=<%= '/card/' + card.id %>>
      <%- include('../partials/card-image', { card: card }); %>
    </a>
  <% }); %>
</div>