<%- include('../partials/scripts'); %>

<div class="card-gallery">
  <% locals.cards.forEach(function(card) { %>
    <a href=<%= '/card/' + card.id %>>
      <img 
        src=<%= card.image_url %> 
        class="card-image-gallery" 
        alt=<%= card.name %>
        onerror="imageErrorHandler(this)"
        >
      </img>
    </a>
  <% }); %>
</div>