<nav class="header-nav">
  <ul>
    <li>
      <a href="/">Rotation Rumble</a>
    </li>
    <li>
      <a href="/advanced">Advanced Search</a>
    </li>
    <li >
      <a href="/gallery?as=images">Card Gallery</a>
    </li>
    <li >
      <a href="/deckbuilder">Deck Builder</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>

  <img src="/images/Rotation_Rumble_Deckbuilder.png" alt="" id="rotation-rumble-logo">
  <img src="/images/BacktoWebsite@2x.png" alt="" id="back-to-website">
</nav>
