<meta charset="UTF-8">
<meta name="robots" content="NOINDEX, NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">


<%- include('../partials/scripts'); %>

<script>
  // Load precon decklist into local storage if it doesnt exist
  // TODO: load the decklist text area in the DOM after this has finished
  if (!localStorage.getItem('precon-0')) {
    // TODO hard coded only temporary
    loadPreconFile(
      '/decks/donners_knight_charge.txt', 
      'precon-0'
    );
  }
</script>

<title>Rotation Rumble</title>


