<span class="header-logo"><a href="/">Rotation Rumble</a></span>
<input type="checkbox" id="nav-toggle" class="nav-toggle">

<nav class="header-nav">
  <ul>
    <li class="header-item">
      <a href="/advanced">Search</a>
    </li>
    <li class="header-item">
      <a href="/gallery?as=images&group=none">Card Gallery</a>
    </li>
    <li class="header-item">
      <a href="/deckbuilder">Deck Builder</a>
    </li>
    <li class="header-item">
      <a href="/about">About</a>
    </li>
  </ul>
</nav>

<label for="nav-toggle" class="nav-toggle-label">
  <span></span>
</label>


<a href="http://rotation-rumble.com/" id="back-to-website">
  <img src="/images/BacktoWebsite@2x.png" alt="" >
</a>
<img src="/images/Rotation_Rumble_Deckbuilder.png" alt="" id="rotation-rumble-logo">