<meta charset="UTF-8">
<meta name="robots" content="NOINDEX, NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">


<%- include('../partials/scripts'); %>


  
<% for (var i = 0; i < locals.decks.length; i ++) { %>
  <script>
    // Load precon decklist into local storage if it doesnt exist
    // TODO: load the decklist text area in the DOM after this has finished
    if (!localStorage.getItem(`precon-<%- i %>`)) {
      loadPreconFile(
        `/decks/<%- locals.decks[i] %>`, 
        `precon-<%- i %>`
      );
    }
  </script>

<% } %>

  

<title>Rotation Rumble</title>


