<nav>
  <ul>
    <li>
      <a href="/">Rotation Rumble</a>
    </li>
    <li>
      <a href="/advanced">Advanced Search</a>
    </li>
    <li >
      <a href="/gallery?as=images">Card Gallery</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
