/* CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ----------------------- MY STUFF -------------------------------------- */

:root {
  --bg-color-dark: black;
  --bg-color-bright: white;
  --text-color-dark: black;
  --text-color-bright: white;
  --color-highlight: rgb(247,247,247);
  --color-orange: rgb(241,90,37);
  --color-accent-blue: rgb(92,97,178);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: BROmny-Bold;
}

header {
  display: flex;
  justify-content: center;
}

.header-nav {
  background-color: var(--bg-color-bright);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.header-nav a {
  color: var(--text-color-dark);
  text-decoration: none;
}

#rotation-rumble-logo {
  position: absolute;
  left: 82vw;
  width: 200px;
}

#back-to-website {
  position: absolute;
  left: 5vw;
  width: 100px;
}

main {
  display: flex;
  justify-content: center;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 100% 100%; */
  background-size: 100vw 100vh;

  flex-grow: 1;
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid-container {
  width: 80%;
  background-color: var(--bg-color-bright);
  display: grid;
}

@media screen and (max-width: 500px) {
  /* remove background when on mobile */
  main {
    background: none;
  }

  .grid-container {
    width: 100%;
  }

  /* hide side images */
  #rotation-rumble-logo {
    visibility: hidden;
  }

  #back-to-website {
    visibility: hidden;
  }
}

.grid-item {
  padding: 2rem;
}

.info-paragraph {
  font-size: 20px;
}

#search {
  /* search bar */
  min-width: 80%;
  min-height: 2.5rem;
  background: var(--color-highlight);
  border-width: 0em;
}

#button-search {
  background-color: var(--color-orange);
  border-width: 0em;
  height: 2.5rem;
  width: 2.5rem;
}

h1 {
  font-size: 80px;
  font-weight: normal;
}

footer {
  background-color: var(--bg-color-dark);
  margin-top: auto;
  flex-shrink: 0;
}

.footer-nav {
  display: flex;
  justify-content: left;
}

.footer-nav ul {
  color: var(--text-color-bright);
  display: flex;
  width: 80%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0.5rem;
  font-size: 20px;
}

.footer-nav ul li {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .footer-nav ul {
    gap: 0.5rem;
    font-size: 16px;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.span-bold {
  font-weight: bold;
}


/* Page specific styling */

.landing-page-grid {
  grid-template-columns: 50% 50%;
}

#hero-image {
  grid-column: 2;
  grid-row: 1 / span 3;
}

@media screen and (max-width: 500px) {
  .landing-page-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 20% 40%;
    /* background-color: pink;   */
  }

  .grid-item {
    padding: 0.5rem;
  }

  #hero-image {
    grid-column: 2;
    grid-row: 1 / span 1;
  }

  #landing-searchbar {
    grid-column: 1 / span 2;
    grid-row: 2
  }

  #landing-paragraph {
    grid-column: 1 / span 2;
    grid-row: 3
  }

  #landing-search-call {
    align-self: end;
  }

  h1 {
    font-size: 36px;
  }
}

.singlecard-grid {
  grid-template-columns: 50% 50%;
}

#singlecard-image {
  justify-self: end;
}

@media screen and (max-width: 500px) {
  .singlecard-grid {
    grid-template-columns: 100%;
  }

  .singlecard-grid #singlecard-image {
    justify-self: center;
  }

  .card-text {
    padding: 1rem;
  }
}

/* ADVANCED SEARCH */

.advanced-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}

.advanced-search-item {
  border-bottom: 1px solid var(--color-orange);
  padding-bottom: 1rem;
}

.advanced-search-item label {
  margin-right: 1rem;
}

.color-select, .dice-select {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#cardname, 
#effectOrStep,
#type {
  min-width: 300px;
}


/* CARD GALLERY */

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .card-gallery {
    /* TODO only table aligns left */
    justify-content: center;
  }
}

.gallery-header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 3rem;
}

#display-as {
  grid-column: 1 / span 2; max-height: 3rem;
}

.card-gallery-table {
  border-collapse: collapse;
}

.card-gallery-table tr:nth-child(even) {
  background-color: var(--color-highlight);
}

.card-gallery-table th, td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid darkgray;
  border-left: 0;
  border-right: 0;
}

.card-gallery-table th {
  color: var(--color-accent-blue);
}

.card-gallery-table a {
  text-decoration: none;
  color: black;
}

.sortby {
  color: var(--color-accent-blue);
  cursor: pointer;
}

.card-image-gallery {
  width: 250px;
}

@media screen and (max-width: 500px) {
  .card-image-gallery {
    width: 180px;
  }
}

.card-image-small {
  width: 120px;
}

.card-image-medium {
  width: 250px;
}

.card-image-large {
  width: 400px;
}

.card-type-text {
  font-size: 24px;
  color: rgb(92,97,178);
}

.card-stats-table {
  border-collapse: collapse;
  font-size: 24px;
}

.card-stats-table td {
  border: 2px solid var(--color-accent-blue);
  padding-left: 0.5rem;
  padding-right: 2rem;
}

.card-stats-table {
  position: relative;
  left: -0.5rem;
}

/* remove unwanted table borders */

.card-stats-table tr:first-child td {
  border-top: 0;
  border-bottom: 0;
}

.card-stats-table tr:last-child td {
  border-top: 0;
  border-bottom: 0;
}

.card-stats-table tr td:first-child {
  border-left: 0;
}

.card-stats-table tr td:last-child {
  border-right: 0;
}

.card-stats-effects {
  font-size: 20px;
  padding-bottom: 1.5rem;
}

.card-gallery-text-only {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-gallery-text-only a{
  text-decoration: none;
  color: black;
}

.cardinfo-small {
  flex-grow: 1;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-accent-blue);
  padding: 0.5rem;
}

@media screen and (max-width: 500px) {
  .cardinfo-small {
    flex-basis: 100%;
  }
}

.card-name-small {
  font-weight: bold;
  padding-right: 1rem;
  font-size: 20px;
}

.card-text-small div {
  border-bottom: 1px solid var(--color-accent-blue);
}

/* Deck Builder */

.deck-container {
  margin: 10px;
  padding: 10px;
  min-height: 70vh;
  border: 1px solid black;
}

.leader-container {
  margin: 10px;
  padding: 10px;
  min-height: 2.5rem;
  border: 1px solid black;
}

.drag-zone {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-orange);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.remove-x,
.card-info,
.add-deck {
  cursor: pointer;
}

.card-tooltip {
  display: block;
  position: absolute;

  transform: scale(0);
  transition: transform ease-out 150ms;
}

.card-info:hover + .card-tooltip {
  transform: scale(1);
}

.card-image-tooltip {
  width: 250px;
}