<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container">
    <div class="grid-item | deckbuilder-cta">
      <button class="standard-button" onclick="newDeck()">New Deck</button>
      <div class="button-container-h">
        <input type="file" id="deck-upload" name="deck-upload" accept="text/*,.txt"/>
        <button class="standard-button" onclick="importDeck()">Import Deck</button>
      </div>

      <div class="form-container">
        <form class="select-deck-form" id="select-deck-form" action="/deck-editor">  
          <label for="deck-selector">Decks in Storage</label>
          <select name="deck" id="deck-selector" size="5">
          </select>
        </form>
        <div class="button-container-h" id="bottom-buttons">
          <button class="standard-button" onclick="viewSelectedDeck()">View Deck</button>
          <button class="standard-button" onclick="editSelectedDeck()">Edit Deck</button>
          <button class="standard-button" onclick="deleteSelectedDeck()">Delete Deck</button>
        </div>
      </div>
    </div>
  </div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

<script>

  const viewSelectedDeck = function() {
    let value = document.querySelector('#deck-selector').value;
    console.log(value)
    if (value.length === 0) return;

    localStorage.setItem('currentDeckID', value);
    window.location.href = '/visual-deckstats?deck=' + value;
  }


  const editSelectedDeck = function() {
    let value = document.querySelector('#deck-selector').value;
    if (value.length === 0) return;

    localStorage.setItem('currentDeckID', value);
    window.location.href = '/deck-editor?deck=' + value;
  }


  const deleteSelectedDeck = function() {
    let value = document.querySelector('#deck-selector').value;
    if (value.length === 0) return;

    let deck = getDeck(value);
    let msg = `Do you want to delete "${deck.name}"?`;
    if (confirm(msg)) {
      deleteDeck(value);
      makeSelector();
    }
  }


  const newDeck = function() {
    // check which deck IDs are currently used
    window.location.href = '/deck-editor?deck=deck-' + getIDnumber();
  }


  const importDeck = async function() {
    let files = document.querySelector('#deck-upload').files;
    if (files.length > 0) {
      let deckID = 'deck-' + getIDnumber();

      // store deckID in local storage
      localStorage.setItem('currentDeckID', deckID);

      // parse deck file and put into local storage
      let filecontent = await files[0].text();
      await loadDeckFromFile(
        filecontent, 
        files[0].name.split('.txt')[0],
        deckID
      );
    }
    // update page
    makeSelector();
  }


  const makeSelector = function() {
    let decksInStorage = []
    let deckIDs = Object.keys(localStorage).filter(elem => elem !== 'currentDeckID');

    for (let id of deckIDs) {
      let deck = getDeck(id); 
      decksInStorage.push(deck);
    }

    // get deck decks from local storage and put in select form
    if (decksInStorage.length === 0) {
      document.querySelector('.select-deck-form').style.display = 'none';
      document.querySelector('#bottom-buttons').style.display = 'none';
    } else {
      document.querySelector('.select-deck-form').style.display = 'flex';
      document.querySelector('#bottom-buttons').style.display = 'flex';
    }

    document.querySelector('#deck-selector').innerHTML = '';

    for (let deck of decksInStorage) {
      let option = document.createElement('option');
      option.value = deck.id;
      option.textContent = truncateDeckName(deck.name, 50) || 'Untitled Deck'; 
      document.querySelector('#deck-selector').appendChild(option);
    }
  }

  // on page load
  makeSelector();
 
</script>

<%- include('../partials/postprocessing'); %>
</html>