<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div>
    <div>
      <form action="/simple-search/" method="post">
        <h3>Search for a card name:<h3>
        <div>
            <input id="search" type="text" name="search_field" value="">
            <input type="submit" value="ðŸ”">
        </div>
      </form>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
