<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container landing-page-grid">
    <div class="grid-item" id="landing-search-call">
      <h1>Search for a<br>Card Name</h1>
    </div>

    <div class="grid-item span-3-v" id="hero-image">
      <img src="/images/BaseBlue_2_-_Ol_Fyndor300.png" alt="Dieser Zaubertyp">
    </div>

    <div class="grid-item" id="landing-searchbar">
      <form class="form-search" action="/simple-search/" method="post">
        <input id="search" type="text" name="search_field" value="">
        <input id="button-search" type="submit" value="ðŸ”">
      </form>
    </div>
      
    <div class="grid-item" id="landing-paragraph">
      <p class="info-paragraph">
        Here you can download the current Rulebook for Rotation Rumble. Lorem ipsum dolor sum este in deletur dum sic doste dududr. Here you can download the current Rulebook for Rotation Rumble. Lorem ipsum dolor sum este in deletur dum sic doste dududr.
      </p>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
