<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container" id="visual-deckstats-grid">

    <div class="deckstats-header">
        <a href="/deckbuilder">
          <button class="standard-button">Back</button>
        </a>
    </div>

    <div class="grid-item">
      <div>Hire Costs - X.X avg.</div>
      <div>
        <canvas id="casting-costs"></canvas>
      </div>
    </div>

    <div class="grid-item">
      <div>Card Types</div>
      <div>
        <canvas id="card-types"></canvas>
      </div>
    </div>

    <div class="grid-item">
      <div>Colors</div>
      <div>
        <canvas id="colors"></canvas>
      </div>
    </div>

    <div class="grid-item">
        <div>Deck List</div>
        <div id="decklist-body">
        </div>
    </div>

    <div class="deckstats-footer">
      <p>
        powered by <a href="https://github.com/chartjs/Chart.js" target="blank">Chart.js</a>
      </p>
    </div>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

<script src='/js/chart.min.js'></script>
<script>
  // dummy data
  const manaCosts = [
    { cost: '0', amount: 0 },
    { cost: '1', amount: 0 },
    { cost: '2', amount: 0 },
    { cost: '3', amount: 0 },
    { cost: '4', amount: 0 },
    { cost: '5', amount: 0 },
    { cost: '6+', amount: 0 },
  ];

  const cardtypes = {
    Fighter: 0,
    Item: 0,
    Landscape: 0,
    Challenge: 0,
    Money: 0,
  };

  const colorStats = {
    red: 0,
    green: 0,
    blue: 0,
    black: 0,
  };

  // get data from deck in local storage
  const deck = getDeck();

  Object.entries(deck).forEach(([key, card]) => {
    let cost = parseInt(card.data.hire);
    manaCosts[Math.min(cost, 6)].amount += 1;

    cardtypes[card.data.cardtype] += 1
    colorStats[card.data.color] += 1
  });
  

  const colormap = [
    'rgb(165, 0, 38)',
    'rgb(188, 22, 38)',
    'rgb(214, 47, 38)',
    'rgb(229, 77, 52)',
    'rgb(244, 109, 67)',
    'rgb(248, 142, 82)',
    'rgb(252, 172, 96)',
    'rgb(253, 198, 120)',
    'rgb(254, 224, 144)',
    'rgb(254, 239, 167)',
    'rgb(254, 254, 192)',
    'rgb(239, 249, 218)',
    'rgb(224, 243, 247)',
    'rgb(196, 229, 240)',
    'rgb(169, 216, 232)',
    'rgb(141, 193, 220)',
    'rgb(116, 173, 209)',
    'rgb(92, 144, 194)',
    'rgb(68, 115, 179)',
    'rgb(58, 83, 163)',
  ];

  const colorCode = {
    red: 'rgb(212, 50, 39)',
    blue: 'rgb(72, 164, 215)',
    black: 'rgb(160, 160, 160)',
    green: 'rgb(76, 147, 89)'
  };

  // ----- Charts  ---------

  new Chart(
    document.getElementById('casting-costs'),
    {
      type: 'bar',
      options: {
        plugins: {
          legend: { display: false }
        }
      },
      data: {
        labels: manaCosts.map(row => row.cost),
        datasets: [{
            label: 'Hire Cost',
            data: manaCosts.map(row => row.amount),
            borderColor: '#36A2EB',
            backgroundColor: '#9BD0F5'
          }]
      }
    }
  );


  new Chart(
    document.getElementById('card-types'),
    {
      type: 'pie',
      options: {
        plugins: {
          legend: { 
            display: true,
            position: 'right'
          }
        }
      },
      data: {
        labels: Object.keys(cardtypes),
        datasets: [{
            label: 'Card Types',
            data: Object.values(cardtypes),
            backgroundColor: [
              colormap[0],
              colormap[5],
              colormap[10],
              colormap[15],
              colormap[19],
            ]
          }]
      }
    }
  );


  new Chart(
    document.getElementById('colors'),
    {
      type: 'pie',
      options: {
        maintainAspectRatio: false,  // fixed height based on available space
        plugins: {
          legend: { 
            display: false
          }
        }
      },
      data: {
        labels: Object.keys(colorStats),
        datasets: [{
            label: 'Card Types',
            data: Object.values(colorStats),
            backgroundColor: [
              colorCode.red,
              colorCode.green,
              colorCode.blue,
              colorCode.black,
            ]
          }]
      }
    }
  );

  // Deck list table
  dbody = document.getElementById('decklist-body');

  Object.entries(deck).forEach(([key, card]) => {
    // check if there is a div for this type
    let div = document.getElementById(`decklist-type-${card.cardtype}`);

    if (div === null) {
        // container
        div = document.createElement('div');
        div.id = `decklist-type-${card.cardtype}`;
        div.className = 'decklist-type-container';
        dbody.append(div);

        // headline
        let head = document.createElement('p');
        head.className = 'decklist-type-header';
        head.innerHTML = `== ${card.cardtype} ==`;
        div.appendChild(head);

        let p = document.createElement('p');
        p.id = `decklist-cards-${card.cardtype}`;
        div.appendChild(p);
    }

    let cardP = document.getElementById(`decklist-cards-${card.cardtype}`);
    cardP.innerText += card.name;
    cardP.appendChild(document.createElement('br'));
  });
</script>

</html>